.navbar{
    background-color:  #ffffff;
    box-shadow: 0 2px 4px 0 rgba(138, 10, 10, 0.05);
    min-height: 100px;
}

.nav-link{ color: #000000;}
.logo-brand{
    min-width: 100px;
    max-width: 120px;
}

.clearfix-padding {
    clear: both;
    padding: 2%;
  }

 
