p{
    text-align: center;
    color: black;
    
}
h1{
    text-align: center;
    font-size: 40px;
    
}
*{box-sizing: border-box;}

body{
    background: url(../imagenes/logo.jpg) no-repeat center top;
    background-size: cover;
}

